Source: ainur
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper ( >= 10 )
Standards-Version: 4.1.2
Homepage: http://lliurex.net

Package: ainur
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-flask, python3-flask-babel, python3-flask-login, python3-flask-ldapconn, libapache2-mod-wsgi-py3
Description: Plugable platform to add services and admin web
 <insert long description, indented with spaces>
